# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commly used libraries used by Data Scientists
* List Data Science tools
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools |
| -------------|
| JupyterLab | 
| JupyterLite |
| VS Code |
| Google Colaboratory |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

## Author
Hamza Hasnain